<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="static/favicon_io/site.webmanifest">
    <link href="static/common.css" rel="stylesheet"/>
    <link href="static/alerts.css" rel="stylesheet"/>
  </head>
  <body>
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <header>sufni suspension telemetry</header>
    <nav id="drawer">
      {% include 'sessions.html' %}
    </nav>

    <div id="page-content" class="container">
    <label>
      <input type="checkbox" class="alertCheckbox" autocomplete="off" />
      <div class="alert {{ type }}">
        <span class="alertClose">X</span>
        <span class="alertText">{{ message }}
        <br class="clear"/></span>
      </div>
    </label>
    </div>

    <div id="open-modal" class="modal-window">
      <div>
          <a href="#" title="Close" class="modal-close">Close</a>
          <h1>Import sessions</h1>
          <div id="session-dialog"></div>
          <!-- XXX -->
      </div>
    </div>
  </body>
</html>