<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sufni Suspension Telemetry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="static/favicon_io/site.webmanifest">
    <link href="static/fontawesome/css/fontawesome.css" rel="stylesheet"/>
    <link href="static/fontawesome/css/solid.css" rel="stylesheet"/>
    <link href="static/common.css" rel="stylesheet"/>
    <link href="static/modal.css" rel="stylesheet"/>
    <link href="static/drawer.css" rel="stylesheet"/>
    <link href="static/tabs.css" rel="stylesheet"/>
    <link rel="stylesheet", id="layout-stylesheet" href=""/>
    {{ resources }}
  </head>
  <body>
    <script src="static/main.js"></script>
  </body>
</html>