[submodule "pico/sufni-suspension-telemetry/lib/pico-as5600"]
	path = pico/sufni-suspension-telemetry/lib/pico-as5600
	url = https://github.com/sghctoma/pico-as5600
[submodule "pico/sufni-suspension-telemetry/lib/pico-ssd1306"]
	path = pico/sufni-suspension-telemetry/lib/pico-ssd1306
	url = https://github.com/daschr/pico-ssd1306
[submodule "pico/sufni-suspension-telemetry/lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = pico/sufni-suspension-telemetry/lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico
