# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Profiling files
*.lprof

# build directories
firmware/pico/build/
firmware/pico-w/build/

# external documentations
sourcematerial/

# compiled executable for gosst
gosst/gosst-http
gosst/gosst-tcp
gosst/gosst-file

# compiled executable for test utils
test_utils/byb2sst/byb2sst
test_utils/gosst-tcp-dummy/gosst-tcp-dummy

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python virtualenv
dashboard/venv

# Small utilities for debuging, etc.
tools/

# Flask-Session directory
dashboard/flask_session

# Frontend dependency directories
node_modules

# Fronted packaged JavaScript
dashboard/app/static/main.js
dashboard/app/static/main.js.map
