* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -o-box-sizing: border-box; 
  box-sizing: border-box; 
  /* adds animation for all transitions */ 
  -webkit-transition: .25s ease-in-out; 
  -moz-transition: .25s ease-in-out; 
  -o-transition: .25s ease-in-out; 
  transition: .25s ease-in-out; 
  margin: 0; 
  padding: 0; 
  -webkit-text-size-adjust: none; 
}

.bk-root .grid-canvas {
  color: #15191C !important;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  header {
    color: #0a0a0a;
    font-size: 24px; 
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.modal-window>div {
  width: 420;
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 2em;
  color: #d0d0d0;
  background-color: #15191C;
  border-radius: 6px;
}

.modal-close {
  color: #d0d0d0;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #a0a0a0;
}

/* Makes sure that everything is 100% height */ 

html,body { 
  height: 100%;
  overflow: hidden; 
  background-color: rgb(10, 10, 10);
}

/* gets the actual input out of the way; 
we're going to style the label instead */ 

#drawer-toggle { 
  position: absolute; 
  opacity: 0; 
}

#drawer-toggle-label { 
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
  left: 0px; 
  height:50px; 
  width: 50px; 
  display: block; 
  position: fixed; 
  background: rgba(255,255,255,.0); 
  z-index: 10; 
} 

/* adds our "hamburger" menu icon */ 

#drawer-toggle-label:before { 
  content: ''; 
  display: block; 
  position: absolute; 
  height: 2px; 
  width: 24px; 
  background: #8d8d8d; 
  left: 13px; 
  top: 18px; 
  box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d; 
} 

header { 
  width: 100%; 
  position: fixed; 
  left: 0px; 
  color: #d0d0d0;
  background-color: #0a0a0a;
  padding: 13px 10px 10px 50px;
  font-size: 24px; 
  line-height: 24px; 
  z-index: 0; 
}

h4 {
  color: #d0d0d0;
}

/* drawer menu pane - note the 0px width */ 

#drawer { 
  position: fixed; 
  top: 0; 
  left:-300px; 
  height: 100%; 
  width: 300px; 
  background: #2f2f2f; 
  overflow-x: hidden; 
  overflow-y: scroll; 
  padding: 20px; 
  -webkit-overflow-scrolling: touch; 
} 

/* actual page content pane */ 

#page-content { 
  margin-left: 0px; 
  margin-top: 50px; 
  width: 100%; 
  height: calc(100% - 50px); 
  overflow-x:hidden; 
  overflow-y:scroll; 
  -webkit-overflow-scrolling: touch; 
  padding: 5px; 
}

/* checked styles (menu open state) */ 

#drawer-toggle:checked ~ #drawer-toggle-label { 
  height: 100%; 
  width: calc(100% - 300px); 
  background: rgba(255,255,255,.8); 
} 

#drawer-toggle:checked ~ #drawer-toggle-label, 
#drawer-toggle:checked ~ header { 
  left: 300px; 
} 

#drawer-toggle:checked ~ #drawer { 
  left: 0px; 
} 

#drawer-toggle:checked ~ #page-content { 
  margin-left: 300px; 
}

/* Responsive MQ */ 

@media all and (max-width:350px) { 
  #drawer-toggle:checked ~ #drawer-toggle-label { 
    height: 100%; 
    width: 50px; 
  } 

  #drawer-toggle:checked ~ #drawer-toggle-label, 
  #drawer-toggle:checked ~ header { 
    left: calc(100% - 50px); 
  } 

  #drawer-toggle:checked ~ #drawer { 
    width: calc(100% - 50px); 
    padding: 20px; 
  } 

  #drawer-toggle:checked ~ #page-content { 
    margin-left: calc(100% - 50px); 
  } 
}

