.tabs {
  position: relative;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-rows: 40px 1fr;
  width: 100%;
}

.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  padding: 10px 5px;
  background: #0a0a0a;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #d0d0d0;
  transition: background .3s, color .3s;
  border: none;
  text-align: center;
  height: 40px;
  grid-row: 1;
}

.label:hover {
  background: #404040;
}

.label:active {
  background: #505050;
}

.radiotab:checked + .label {
  background: #303030;
  color: #e0e0e0;
}

.panel {
  z-index: 0;
  top: 42px;
  left: 0px;
  grid-column: 1 / 4;
  grid-row: 2;
}

/*
Using z-index to display the selected tab, because
 - display: none/block causes Bokeh error (can't render into zero-sized container)
 - visibility: visible/hidden causes flickering, and sometimes slow response
*/
.radiotab:checked + .label + .panel {
  z-index: 5;
}