argon2-cffi==23.1.0
bokeh==3.3.0
cryptography==41.0.4
gpxpy==1.5.0
msgpack==1.0.7
pytz==2023.3.post1
requests==2.31.0
SciPy==1.11.3
xyzservices==2023.10.0
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.5.3
gunicorn==21.2.0
eventlet==0.33.3
Flask-SocketIO==5.3.6
Flask-Migrate==4.0.5