* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -o-box-sizing: border-box; 
  box-sizing: border-box; 
  /* adds animation for all transitions */ 
  -webkit-transition: .25s ease-in-out; 
  -moz-transition: .25s ease-in-out; 
  -o-transition: .25s ease-in-out; 
  transition: .25s ease-in-out; 
  margin: 0; 
  padding: 0; 
  -webkit-text-size-adjust: none; 
}

.bk-root .grid-canvas {
  color: #15191C !important;
}

/* Makes sure that everything is 100% height */ 

html,body,.layout { 
  height: 100%;
  overflow: hidden; 
  color: #d0d0d0;
  background-color: #0a0a0a;
  /* background-color: rgb(10, 10, 10); */
}

header { 
  width: 100%; 
  position: fixed; 
  left: 0px; 
  color: #d0d0d0;
  background-color: #0a0a0a;
  padding: 3px 10px 3px 50px;
  font-size: 18px; 
  line-height: 43px; 
  z-index: 0;
  white-space: nowrap;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 960px) {
  .sst-title {
    display: none;
  }
}

h4 {
  color: #d0d0d0;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

input, textarea, select, button {
  color: #d0d0d0;
  background-color: #20262B;
  font-size: 15px;
  padding: 2px;
  border: 1px solid #ccc;
}

option {
  background-color: #20262B;
}

button:hover {
  background: #40464B;
}

.container {
  display: grid;
  position: relative;
  top: 0px;
  left: 0px;
  gap: 2px;
  background-color: rgb(64,64,64);
}

.route-link {
  font-size: 14px;
  color: #d0d0d0;
  text-decoration: none;
  cursor: pointer;
}

.route-link:hover {
  color: #a0a0a0;
}

.input-error {
  background-color: #6f312d !important;
}

.drop-container {
  position: relative;
  top: 200px;
  left: 50%;
  margin-top: -20px;
  margin-left: -90px;
  justify-content: center;
  align-items: center;
  background: #0a0a0a;  
  height: 34px;
  width: 180px;
  padding: 6px 12px;
  border: 1px dashed #ccc;
  cursor: pointer;
  transition: background .3s, border .3s;
}

.drop-container:hover {
  background: #404040;
}

.drop-container:hover .drop-title {
  color: #d0d0d0;
}

.drop-title {
  color: #d0d0d0;
  font-size: 14px;
  text-align: center;
  transition: color .2s ease-in-out;
}

.static-label {
  position: relative;
  top: 200px;
  left: 50%;
  margin-top: -20px;
  margin-left: -90px;
  justify-content: center;
  align-items: center;
  color: #d0d0d0;
  background: #0a0a0a;  
  height: 34px;
  width: 180px;
  padding: 6px 12px;
  border: 1px dashed #ccc;
}

input[type=file] {
  display: none;
}

/* session list tooltips */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 40px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
		font-size: 12px;
}

/* setup wizard */

.wizard {
  max-width: 700px;
  margin: 2px;
  padding: 15px;
  background-color: #15191C;
}

.wizard-header {
  font-size: 18px;
  font-weight: bold;
}

.wizard-body {
  display: flex;
  flex-direction: column;
}

.setup-page {
  border: 1px dashed #ccc;
  margin: 10px;
  width: 480px;
}

.setup-page-header {
  display: inline-block;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 16px;
  border-bottom: 1px dashed #ccc;
  border-right: 1px dashed #ccc;
}


.input-field {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
  margin: 15px;
}

.error-message {
  font-size: 14px;
  color: #ff594e;
  text-align: right;
  grid-column: 2 / 3;
}

.ok-message {
  color: #4caf50;
}

.list-description {
  font-size: 14px;
  margin-top: 3px;
  width: 100%;
}

.video-button {
  display: inline-block;
	float: right;
  font-size: 14px;
  padding: 0.1em 0.3em;
  border: transparent;
  background: #4f7cb3;
  color: #d0d0d0;
  border-radius: 2px;
	margin: 8px 8px 5px 0px;
	cursor: pointer;
}

.video-button:hover {
  background: #6f9cd3;
}

.delete-button {
  display: inline-block;
	float: right;
  font-size: 14px;
  padding: 0.1em 0.3em;
  border: transparent;
  background: #d43f3a;
  color: #d0d0d0;
  border-radius: 2px;
	margin: 5px;
	cursor: pointer;
  width: 32px;
}

.delete-button:hover {
  background: #d9534f;
}

.delete-button:active {
  transform: translate(0em, 0.2em);
}

.save-button {
  display: inline-block;
	float: right;
  font-size: 14px;
  padding: 0.1em 0.3em;
  border: transparent;
  background: #4caf50;
  color: #f0f0f0;
  border-radius: 2px;
	margin: 8px 8px 5px 0px;
	cursor: pointer;
}

.save-button:disabled {
  background: #4e7b4e;
  color: #c0c0c0;
	cursor: default;
}

.save-button:hover:not([disabled]) {
  background: #66b169;
}

.save-button:active {
  transform: translate(0em, 0.2em);
}

/* notes box */

.description-box {
  flex-direction: column;
  gap: 0px;
  display: flex;
  min-height: 340px;
  background: #15191c;
  padding-bottom: 25px;
}

.description-title {
  display: flex;
  flex-direction: row;
}

.description-label {
  margin: 8px 0px 0px 8px;
  flex: 1 0 0px;
  font-weight: bold;
  font-size: 15px;
}

.notes-name {
  font-size: 14px;
  flex: 0 0 auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  margin-bottom: 2px;
}

.notes-desc {
  font-size: 14px;
  padding: 12px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  margin-top: 2px;
}

video {
  max-height: 275px;
  width: 100%;
  z-index: 3;
}

.toolbar-icon {
  color: #d0d0d0;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}

.toolbar-icon:hover {
  background-color: #40464B;
}
