.tabs {
  grid-template-columns: repeat(3, 1fr);
}

.springrate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  background-color: rgb(64,64,64);  
}
.front-travel-hist { grid-column: 1;     grid-row: 1; }
.rear-travel-hist  { grid-column: 2;     grid-row: 1; }
.front-fft         { grid-column: 1 / 3; grid-row: 2; }
.rear-fft          { grid-column: 1 / 3; grid-row: 3; }

.damping {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  background-color: rgb(64,64,64);  
}
.front-velocity-hist { grid-column: 1; grid-row: 1; }
.rear-velocity-hist  { grid-column: 2; grid-row: 1; }
  
.balance {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(64,64,64);  
}
.balance-compression { grid-column: 1; grid-row: 1; }
.balance-rebound     { grid-column: 2; grid-row: 1; }

/* Small screens (mobile phone) */

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
  }
  
  .tabs        { grid-column: 1; grid-row: 1; }
  .travel      { grid-column: 1; grid-row: 2; }
  .velocity    { grid-column: 1; grid-row: 3; }
  .map         { grid-column: 1; grid-row: 4; }
  .nomap       { grid-column: 1; grid-row: 4; }
  .description { grid-column: 1; grid-row: 5; }
  .lr          { grid-column: 1; grid-row: 6; }
  .sw          { grid-column: 1; grid-row: 7; }
  .setup       { grid-column: 1; grid-row: 8; }

  .springrate {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 400px 200px 400px 200px;
    background-color: rgb(64,64,64);  
  }
  .front-travel-hist { grid-column: 1; grid-row: 1; }
  .front-fft         { grid-column: 1; grid-row: 2; }
  .rear-travel-hist  { grid-column: 1; grid-row: 3; }
  .rear-fft          { grid-column: 1; grid-row: 4; }
  
  .damping {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: max-content;
    background-color: rgb(64,64,64);  
  }
  .front-velocity-hist { grid-column: 1; grid-row: 1; }
  .rear-velocity-hist  { grid-column: 1; grid-row: 2; }
    
  .balance {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(64,64,64);  
  }
  .balance-compression { grid-column: 1; grid-row: 1; }
  .balance-rebound     { grid-column: 1; grid-row: 2; }
}

/* Medium screens */

@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
  }

  .travel      { grid-column: 1 / 5; grid-row: 1; }
  .velocity    { grid-column: 1 / 5; grid-row: 2; }
  .tabs        { grid-column: 1 / 5; grid-row: 3; }
  .map         { grid-column: 1 / 5; grid-row: 4; }
  .nomap       { grid-column: 1 / 5; grid-row: 4; }
  .lr          { grid-column:     1; grid-row: 5; }
  .sw          { grid-column:     2; grid-row: 5; }
  .setup       { grid-column: 1 / 3; grid-row: 6; }
  .description { grid-column: 3 / 5; grid-row: 5 / 7; }
}

/* Big screens */

@media only screen and (min-width: 1920px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: max-content;
  }
    
  .travel      { grid-column: 1 / 7; grid-row: 1;     }
  .velocity    { grid-column: 1 / 7; grid-row: 2;     }
  .map         { grid-column: 7 / 9; grid-row: 1;     }
  .nomap       { grid-column: 7 / 9; grid-row: 1;     }
  .description { grid-column: 7 / 9; grid-row: 2;     }
  .tabs        { grid-column: 1 / 7; grid-row: 3 / 5; }
  .lr          { grid-column:     7; grid-row:     3; }
  .sw          { grid-column:     8; grid-row:     3; }
  .setup       { grid-column: 7 / 9; grid-row:     4; }
}
