.modal-shown {
  display: block;
}

.modal-hidden {
  display: none;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 50px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,0.8);
  header {
    color: #0a0a0a;
    font-size: 24px; 
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

/* Modal Content */
.modal-content {
  display: inline-block;
  color: #d0d0d0;
  background-color: #15191C;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 6px;
}

.modal-close {
  color: #d0d0d0;
  font-size: 80%;
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
  position: relative;
  width: 70px;
  text-decoration: none;
  cursor: pointer;
}

.modal-close:hover {
  color: #a0a0a0;
}
