.modal-shown {
  display: block;
}

.modal-hidden {
  display: none;
}

.modal {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  display: inline-block;
  color: #d0d0d0;
  background-color: #15191C;
  margin-top: 50px;
  padding: 20px;
  border-radius: 3px;
  box-shadow: -4px 5px 10px 0px #000000
}

.modal-close {
  color: #d0d0d0;
  font-size: 80%;
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
  position: relative;
  width: 70px;
  text-decoration: none;
  cursor: pointer;
}

.modal-close:hover {
  color: #a0a0a0;
}
