.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 40px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
		font-size: 12px;
}

.delete-btn {
	color: #d0d0d0;
	
}

delete-button {
  display: inline-block;
	float: right;
  font-size: 14px;
  padding: 0.1em 0.3em;
  border: transparent;
  background: #d43f3a;
  color: #d0d0d0;
  border-radius: 2px;
	margin: 5px;
	cursor: pointer;
}

delete-button:hover {
  background: rgb(2,0,36);
  background: #d9534f;
}

delete-button:active {
  transform: translate(0em, 0.2em);
}
