<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="static/favicon_io/site.webmanifest">
    <link href="static/common.css" rel="stylesheet"/>
    <link href="static/tabs.css" rel="stylesheet"/>
    {{ resources }}
    <script>
      const _embed_plot = function(plot_url, div_id) {
      	fetch(plot_url)
          .then(function(response) { return response.json(); })
          .then(function(item) { return Bokeh.embed.embed_item(item, div_id); })
      };
      const _clear_plot = function(plot_name) {
        idx = Bokeh.documents.findIndex(doc => doc.roots()[0].name === plot_name);
        Bokeh.documents[idx].clear();
        Bokeh.documents.splice(idx, 1);
      }
    </script>
    {% if suspension_count == 1 -%}
    <link href="static/layout-single.css" rel="stylesheet"/>
    <script>
      const update_plots = function(start, end) {
        const args = "?start=" + start + "&end=" + end
        _clear_plot("fft");
        _clear_plot("travel_hist");
        _clear_plot("velocity_hist");
        _embed_plot("/travel/fft" + args, "fft");
        _embed_plot("/travel/histogram" + args, "travel-hist");
        _embed_plot("/travel/velocity" + args, "velocity-hist");
      }
    </script>
    {%- elif suspension_count == 2 %}
    <link href="static/layout-double.css" rel="stylesheet"/>
    <script>
      const update_plots = function(start, end) {
        const args = "?start=" + start + "&end=" + end
        _clear_plot("front_fft");
        _clear_plot("rear_fft");
        _clear_plot("front_travel_hist");
        _clear_plot("rear_travel_hist");
        _clear_plot("front_velocity_hist");
        _clear_plot("rear_velocity_hist");
        _clear_plot("balance_compression");
        _clear_plot("balance_rebound");
        _embed_plot("/travel/fft/front" + args, "front-fft");
        _embed_plot("/travel/fft/rear" + args, "rear-fft");
        _embed_plot("/travel/histogram/front" + args, "front-travel-hist");
        _embed_plot("/travel/histogram/rear" + args, "rear-travel-hist");
        _embed_plot("/velocity/histogram/front" + args, "front-velocity-hist");
        _embed_plot("/velocity/histogram/rear" + args, "rear-velocity-hist");
        _embed_plot("/balance/compression" + args, "balance-compression");
        _embed_plot("/balance/rebound" + args, "balance-rebound");
      }
    </script>
    {% endif %}
    <style>
      html, body {
        box-sizing: border-box;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      _embed_plot("/description", "description");
      //XXX _embed_plot("/sessions", "sessions");
    </script>
    {{ components_script }}
  </head>
  <body>
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <header>sufni suspension telemetry <div style="float: right;"><span id="sname">{{ name }}</span> ({{ date }} UTC)</div></header>
    <nav id="drawer">
      {% include 'sessions.html' %}
    </nav>

    <div id="page-content" class="container">
      <div id="travel" class="travel">{{ div_travel }}</div>
      <div id="velocity" class="velocity">{{ div_velocity }}</div>
      <div id="description" class="description"></div>
      <div id="map" class="map">{{ div_map }}</div>
      <div id="lr" class="lr">{{ div_lr }}</div>
      <div id="sw" class="sw">{{ div_sw }}</div>
      <div id="setup" class="setup">{{ div_setup }}</div>

      <div class="tabs">
        <input class="radiotab" name="tabs" tabindex="1" type="radio" id="tabone" checked="checked">
        <label class="label" style="grid-column: 1" for="tabone">Spring rate</label>
        <div class="panel springrate" tabindex="1">
          {% if suspension_count == 1 -%}
          <div id="travel-hist" class="travel-hist"></div>
          <div id="fft" class="fft"></div>
          <script>
            _embed_plot("/travel/hist", "travel-hist");
            _embed_plot("/travel/fft", "fft");
          </script>
          {%- elif suspension_count == 2 %}
          <div id="front-travel-hist" class="front-travel-hist"></div>
          <div id="rear-travel-hist" class="rear-travel-hist"></div>
          <div id="front-fft" class="front-fft"></div>
          <div id="rear-fft" class="rear-fft"></div>
          <script>
            _embed_plot("/travel/histogram/front", "front-travel-hist");
            _embed_plot("/travel/histogram/rear", "rear-travel-hist");
            _embed_plot("/travel/fft/front", "front-fft");
            _embed_plot("/travel/fft/rear", "rear-fft");
          </script>
          {% endif %}
        </div>

        <input class="radiotab" tabindex="1" name="tabs" type="radio" id="tabtwo">
        <label class="label" style="grid-column: 2" for="tabtwo">Damping</label>
        <div class="panel damping" tabindex="1">
          {% if suspension_count == 1 -%}
          <div id="velocity-hist" class="velocity-hist"></div>
          <script>
            _embed_plot("/velocity/histogram", "velocity-hist");
          </script>
          {%- elif suspension_count == 2 %}
          <div id="front-velocity-hist" class="front-velocity-hist"></div>
          <div id="rear-velocity-hist" class="rear-velocity-hist"></div>
          <script>
            _embed_plot("/velocity/histogram/front", "front-velocity-hist");
            _embed_plot("/velocity/histogram/rear", "rear-velocity-hist");
          </script>
          {% endif %}
        </div>

    
        {% if suspension_count == 2 -%}
        <input class="radiotab" tabindex="1" name="tabs" type="radio" id="tabthree">
        <label class="label" style="grid-column: 3" for="tabthree" >Balance</label>
        <div class="panel balance" tabindex="1">
          <div id="balance-compression" class="balance-compression"></div>
          <div id="balance-rebound" class="balance-rebound"></div>
        </div>
          <script>
            _embed_plot("/balance/compression", "balance-compression");
            _embed_plot("/balance/rebound", "balance-rebound");
          </script>
        {% endif %}
      </div>
    </div>

    <div id="open-modal" class="modal-window">
      <div>
          <a href="#" title="Close" class="modal-close">Close</a>
          <h1>Import sessions</h1>
          <div id="session-dialog"></div>
          <script>
            _embed_plot("/session-dialog", "session-dialog");
          </script>
      </div>
    </div>
  </body>
</html>