<h4>Sessions</h4><a style="font-size: 14px; color: #d0d0d0; text-decoration: none;" href="#open-modal">(add new...)</a>
<style>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 40px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
		font-size: 12px;
}

.tooltip a {
  font-size: 14px;
  color: #d0d0d0;
  text-decoration: none;
}

.tooltip a:hover {
  color:white;
}

.delete-btn {
	color: #d0d0d0;
	
}

delete-button {
  display: inline-block;
	float: right;
  font-size: 14px;
  padding: 0.1em 0.3em;
  border: transparent;
  background: #d43f3a;
  color: #d0d0d0;
  border-radius: 2px;
	margin: 5px;
	cursor: pointer;
}

delete-button:hover {
  background: rgb(2,0,36);
  background: #d9534f;
}

delete-button:active {
  transform: translate(0em, 0.2em);
}
</style>

<script>
const remove_session = function(id) {
	fetch("/" + id, { method: 'DELETE' }).then((response) => {
    if (!response.ok) {
      throw new Error("Network response was not OK");
    }
		const s = document.getElementById("session_" + id);
		s.parentElement.removeChild(s);
  });
}
</script>

<div id="sessions" class="sessions">
{% for d, s in sessions.items() %}
<div style="display: block; margin: 5px;">
	<p style="font-size: 14px; color: #d0d0d0; margin-top: 10px;">{{ d }}</p>
	<hr style="margin-top: 5px;"/>
</div>
{% for session in s %}
<div id="session_{{ session[0] }}" style="display: block;">
<div class="tooltip" style="display: inline-block; margin: 5px; margin-left: 15px;">
<a id="session_a_{{ session[0] }}" href="/{{ session[0] }}" sytle="display: inline-block;">{{ session[1] }}</a>
<span class="tooltiptext">{{ session[2] }}</span>
</div>
{% if full_access %}
<delete-button onclick="remove_session({{ session[0] }});">del</delete-button>
{% endif %}
</div>
{% endfor %}
{% endfor %}
</div>